@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --black:rgb(13,17,23);
}

*{
    box-sizing: border-box;
}
/* Main content  */

body{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    color: white;
    max-width: 500px;
}

/* Form and input */

.form{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    width: 400px;
    align-items: center;
}

.input{
    color: var(--black);
    width:100%;
    border-radius: 8px;
    border: none;
    height: 25px;
}

.input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(120, 116, 116);
}

.input:focus{
    background-color: rgb(8, 8, 8);
    color: white;
    
}

.allEliminate {
    width: 150px;
}

/* List */

.mainList{
    margin-left: -40px
}

.li{
    
    list-style: none;
    margin-bottom: 8px;
}

/* Icons */

.fa-circle-plus{
    color: var(--black);
    margin-left: 9px;
    margin-right: 9px;
    font-size: 150%;
    cursor: pointer;
}
.fa-circle{
    margin-right: 8px;
    cursor: pointer;
}

.fa-trash{
    margin-left: 8px;
    cursor:pointer;
}

i:hover{
    color:rgb(60, 60, 203);
    transform: scale(1.1);
}

button:hover{
    background-color:rgb(60, 60, 203);
    color: white;
    
}

/* Add in JS */

.line-through{
    text-decoration: line-through;
}

.fa-check-circle{
    margin-right: 8px;
}
